<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.springframework.org/schema/beans">


    <!-- Registers required post-processors and enables auto-detection of annotated components,
         excluding all controllers from application component scanning. All controllers should
         be scanned in the proper MVC configuration
    -->
    <!-- Registers properties sources to configure application, using placeholders -->
    <import resource="classpath:conf/webservice/applicationContext-config.xml"/>

    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- max upload size in bytes -->
        <property name="maxUploadSize" value="20971520" /> <!-- 20MB -->
        <!-- max size of file in memory (in bytes) -->
        <property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->

    </bean>

    <bean id="molCollection" class="com.epam.indigolucene.service.generated.TestSchema" factory-method="collection">
        <constructor-arg value="${service.url}"/>
        <constructor-arg value="${service.core.name}"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.epam.indigolucene.common.query.SolrConnectionFactory.init"/>
        <property name="arguments">
            <list>
                <value type="java.lang.Class">com.epam.indigolucene.solrconnection.SolrConnection5</value>
            </list>
        </property>
    </bean>

    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="staticMethod" value="com.epam.indigolucene.service.indexer.Indexer.indexChemData"/>
        <property name="arguments">
            <list>
                <ref bean="molCollection"></ref>
                <value>${chemdata.folder}</value>
            </list>
        </property>
    </bean>

    <context:annotation-config/>
    <context:component-scan base-package="com.epam.indigolucene.service">
        <!-- Excludes all controllers from application context component scanning. All controllers
             should be scanned by in a proper MVC configuration
        -->
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

</beans>