# Visual Studio Code
.vscode

# Rider
.idea

# Visual Studio 2015
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

*.pyc
build/
dist/
api/libs/
api/src/indigo_version.h
third_party/cairo-src/cairo/src/cairo-features.h
_projects/

/api/dotnet/bin/
/api/dotnet/lib/
/api/dotnet/obj
/api/tests/dotnet/bin
/api/tests/dotnet/obj
/api/dotnet/**/*.dll
/api/dotnet/**/*.so
/api/dotnet/**/*.dylib
/api/plugins/bingo/dotnet/bin/
/api/plugins/bingo/dotnet/lib/
/api/plugins/bingo/dotnet/obj/
/api/plugins/renderer/dotnet/bin/
/api/plugins/renderer/dotnet/lib/
/api/plugins/renderer/dotnet/obj/
/api/plugins/inchi/dotnet/bin/
/api/plugins/inchi/dotnet/lib/
/api/plugins/inchi/dotnet/obj/
api/__pycache__/
api/dotnet/bin/
api/dotnet/lib/
api/dotnet/obj/
api/java/pom.xml.versionsBackup
api/java/target/
api/plugins/bingo/dotnet/bin/
api/plugins/bingo/dotnet/lib/
api/plugins/bingo/dotnet/obj/
api/plugins/bingo/java/pom.xml.versionsBackup
api/plugins/bingo/java/target/
api/plugins/inchi/dotnet/bin/
api/plugins/inchi/dotnet/lib/
api/plugins/inchi/dotnet/obj/
api/plugins/inchi/java/pom.xml.versionsBackup
api/plugins/inchi/java/target/
api/plugins/renderer/dotnet/bin/
api/plugins/renderer/dotnet/lib/
api/plugins/renderer/dotnet/obj/
api/plugins/renderer/java/pom.xml.versionsBackup
api/plugins/renderer/java/target/
api/tests/dotnet/bin/
api/tests/dotnet/obj/
**/venv/
api/tests/integrations/**/out/
**/.__pycache__
*.pyo
.DS_Store
api/python/epam.indigo.egg-info
api/python/indigo/lib
*.jar
*.nupkg
*.whl
bin
lib
obj
TestResults
cmake-build-debug
cmake-build-release
api/c/indigo/src/indigo_version.h
.jython_cache/
*$py.class
.vscode/
.flattened-pom.xml
api/java/**/target/

cmake-build-*/
bingo/bingo-core/src/core/bingo_version.h
bingo/sqlserver/Resources/bingo-core-c.dll
api/tests/integration/**/out
api/tests/integration/_c/test.h
api/c/tests/unit/common.h
