Flask-HTTPAuth==4.8.0
Flask==2.3.2
SQLAlchemy==2.0.15
anyio==3.7.0
asgiref==3.7.1
celery==5.2.7
click==8.1.3
elasticsearch==7.10.1
flasgger==0.9.7.1
gunicorn==22.0.0
h11==0.14.0
idna==3.7
marshmallow==3.19.0
psycopg2-binary==2.9.3
pydantic==1.10.13
pyparsing==3.0.9
pytest==6.2.5
redis==4.5.5
setuptools==80.9.0
sniffio==1.3.0
typing-extensions==4.6.2
tzdata
uvicorn==0.22.0
xmldiff==2.4
