[MASTER]
disable=
    C0114, # missing-module-docstring
    C0116, # missing-function-docstring
    C0115, # missing-class-docstring
    R0903, # too-few-public-methods
    E1136, # unsubscriptable-object
    R0801, # duplicate-code
    W0621, # redefined-outer-name
    W0613, # unused-argument
    W1517, # cache-max-size-none
