<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!-- java.util.Properties to support access to different application properties -->
    <bean id="webservice" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:webservice.properties</value>
            </list>
        </property>
    </bean>

    <!-- configures properties' placeholder to resolve placeholders for bean configurations -->
    <context:property-placeholder properties-ref="webservice" order="1" ignore-unresolvable="true"/>

</beans>