@import '../styles/variables';
@import '../styles/mixins.scss';

.editor-block {
  flex: 1;
  margin-right: 12px;
}

.search {
  height: 474px;
}

.search fieldset {
  padding: 10px;
  border: 0;
  min-height: 20px;
  min-width: 278px;
  border-radius: 4px;
  flex: 1 1 20%;
  height: fit-content;
}

.search legend {
  font-weight: 700;
  color: $gray-darker;
  font-size: 16px;
  padding: 12px 0 2px 0;
}

.execute-search-form-content-wrapper {
  max-height: 388px;
  overflow: auto;
}
