@import '../../styles/variables';

fieldset.libraries-fieldset {
  max-height: 140px;
  border-bottom: 1px #E1E5EA solid !important;
  overflow: auto;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.app-checkbox {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
  width: 16px;
  height: 16px;
  border: 1px solid #B4B9D6;
  border-radius: 4px;
  display: grid;
  place-content: center;
  outline: none;
}

.app-checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #B4B9D6;
}

.app-checkbox:checked::before {
  transform: scale(1);
}

.checkbox-title {
  color: #666666;
  font-size: 12px;
  font-weight: 400;
  margin-left: 5px;
}
