// Colors
$c-background-primary: #446e9b;
$c-accent-primary: #345578;
$c-light-accent-primary: #ddd;
$c-light-primary: #fff;
$c-shadow: #00000014;
$c-highlight: #66afe999;
$c-font-primary: #666;
$c-border: #ccc;
$gray-darker: #2d2d2d;

// Fonts
$fs-base: 14px;
$fs-large: ceil(($fs-base * 1.25));
$fs-small: ceil(($fs-base * 0.85));

$line-height-base: 1.42857143;
