name: Indigo CI

env:
  OS_NAME_MAPPING_JSON: '{"ubuntu-latest": "linux", "windows-latest": "windows", "macos-13": "macos"}'

on:
  push:
    branches:
      - master
    tags:
      - 'indigo-*'
  workflow_dispatch:
  pull_request:
  repository_dispatch:

jobs:
  publish_indigo_to_pypi:
    runs-on: ubuntu-latest
    container: epmlsop/indigo-tester:latest
    steps:
      - name: Publish Python wheels to PyPI
        env:
          PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
        run: |
          pwd
          set -eux
          mkdir /root/.m2
          echo ${PYPI_TOKEN} > /root/.m2/pypi
          gzip /root/.m2/pypi
          base64 /root/.m2/pypi.gz
