name: Indigo CI

env:
  OS_NAME_MAPPING_JSON: '{"ubuntu-latest": "linux", "windows-latest": "windows", "macos-13": "macos"}'

on:
  push:
    # temporary disable due billing issue
    # branches:
    #   - master
    tags:
      - 'indigo-*'
  workflow_dispatch:
  pull_request:
  repository_dispatch:

jobs:
  static_analysis:
    runs-on: ubuntu-latest
    container: epmlsop/indigo-tester:latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: false
          fetch-depth: 500
      - name: Git fetch tags
        run: |
             git config --global --add safe.directory '*'
             git fetch --tags -f
      - name: Check
        run: |
          python3 -m pip install -r api/python/requirements_dev.txt --break-system-packages
          .ci/static_analysis_check.sh

  set_matrix:
    runs-on: ubuntu-latest
    outputs:
      - matrix: ${{ steps.*.outputs.matrix }}
      - matrix-aarch64: ${{ steps.*.outputs.matrix-aarch64 }}
    steps:
      - id: set-matrix-with-macos
        if: ${{ !startsWith(github.ref, 'refs/tags/indigo-') }}
        run: echo "matrix={\"os\":[\"ubuntu-latest\",\"windows-latest\",\"macos-13\"]}" >> $GITHUB_OUTPUT
      - id: set-matrix-without-macos
        if: ${{ startsWith(github.ref, 'refs/tags/indigo-') }}
        run: echo "matrix={\"os\":[\"ubuntu-latest\",\"windows-latest\"]}" >> $GITHUB_OUTPUT
      - id: set-matrix-aarch64-with-macos
        if: ${{ !startsWith(github.ref, 'refs/tags/indigo-') }}
        run: echo "matrix-aarch64={\"os\":[\"ubuntu-latest\",\"windows-latest\",\"macos-13\"]}" >> $GITHUB_OUTPUT
      - id: set-matrix-aarch64-without-macos
        if: ${{ startsWith(github.ref, 'refs/tags/indigo-') }}
        run: echo "matrix-aarch64={\"os\":[\"ubuntu-latest\",\"windows-latest\"]}" >> $GITHUB_OUTPUT

  show_matrix::
    runs-on: ubuntu-latest
    steps:
      - name: show_matrix
        run: echo "matrix= ${{ fromJSON(needs.set_matrix.outputs.matrix) }}"
  
